body {
    background: url(./assets/images/background.png) 0 0/cover no-repeat;
}

p {
    color: red;
}

div.outer-container {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

div.carousel-container {
    /* border: solid 1px lightgray; */
    display: flex;
    width: 1000px;
    margin: 50 auto;
    overflow-x: hidden;
}

div.card-container {
    width: 200px;
    padding: 5px;
    margin: 10px;
    background: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
}

div.last-card {
    background: unset;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 99%);
}

div.last-card p {
    mask-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 99%);
    -webkit-mask-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 99%);
}

div.icon {
    text-align: center;
}

div.action-buttons {
    width: 1000px;
    margin: 50px auto;
    text-align: right;
}

div.action-buttons button {
    height: 40px;
    background-color: lightgray;
    color: red;
    border-radius: 10px;
}

div.left-arrow {
    position: relative;
    width: 33px;
    height: 33px;
    margin: 0 auto;
    text-align: center;
    right: -30px;
    cursor: pointer;
    z-index: 10;
}

div.left-arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

div.left-arrow span {
    color: white;
    font-size: 30px;
}
div.right-arrow {
    position: relative;
    width: 33px;
    height: 33px;
    margin: 0 auto;
    text-align: center;
    left: -30px;
    cursor: pointer;
    z-index: 10;
}

div.right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

div.right-arrow span {
    color: white;
    font-size: 30px;
}